doctype html
html
  head
    meta(charset='utf-8')
    title MovieInfo
    link(rel='stylesheet', href='https://bootswatch.com/4/slate/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href='/') MovieInfo
    .container
      #movie.well
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='js/main.js')
    script.
      getMovie();
